<div class="card">
  <header class="card-header">
    <p class="card-header-title is-5">{{post.title}}
      <span class="card-header-title is-6" id="posted-by">Posted by
        {{post.user.username}}
        on
        {{post.created_at}}</span></p>
  </header>
  <div class="card-content">
    <p>{{post.contents}}</p>
  </div>
</div>

<div class="comments">
  {{#each post.comments}}
    <section class="comment">
      <p>{{user.username}}</p>
      <p>{{comment_text}}</p>
    </section>
  {{/each}}
</div>

<form class="comment-form">
  <div>
    <textarea
      class="textarea"
      name="comment-body"
      placeholder="write comment here"
    ></textarea>
  </div>

  <div>
    <button class="button is-primary" type="submit">Add Comment</button>
  </div>
</form>

<script src="/javascript/comment.js"></script>